.pull-center{
  text-align: center
}

.speaker {
  text-align: center;
  border: none;
  box-shadow: none;
}

.speaker p {
  margin: 0;
}

.yellow{
  background-color: #ffd42a !important;
}

.btn-yellow{
  background-color: #ffd42a;
  color: #fff;
}

.btn-yellow:hover{
  background-color: #f0c826;
}

.navbar{
  background-color: #ffd42a
}

.navbar .logo{
  position: absolute;
  margin-top: 1px;
  vertical-align: top;
  z-index: 9999;
}

.navbar-nav a{
  color: #333 !important;
}

.navbar-nav a:hover{
  color: #fff !important;
}

.navbar .divider{
  margin: 15px;
  color: #ccc;
}

footer{
  color: #ddd;
  background: #000;
  padding: 30px 0;
}

section{
  margin: 70px 0;
}

#carousel > .carousel-indicators{
  left: 90%;
}

#carousel > .badge{
  z-index:999;
  position:absolute;
  left:75%;
  top:20%;
}

#carousel > h2{
  z-index: 999;
  position: absolute;
  width: 80%;
  left: 0;
  top: 60%;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

