html {
  height: 100%;
}

body {
  color: #333;
  background-color: #fff;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
}

img {
  border: 0;
}

nav {
  background-color: #0b1728;
  opacity: 0.5;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 1040;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  -webkit-padding-start: 0px;
}

nav li {
  display: inline;
  float: left;
  padding: 15px;
}

nav li.pull-right {
  padding-right: 10px;
  padding: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  /*font-weight: bold;*/
  font-size: 16px;
}

nav a:hover {
  color: #fc0
}

header {
  height: 190px;
  width: 100%;
  background-color: #fc0;
}

header img {
  margin-top: 36px;
}

header p {
  margin-top: -190px;
  font-size: 16px;
  margin-left: -190px;
  color: #000;
}

header, section {
  margin: auto;
  text-align: center;
}

section {
  width: 100%;
  text-align: center;
}

section h1 {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 300;
}

section#home {
  margin-top: 65px;
}

.container {
  width: 960px;
  margin: 50px auto;
  display: inline-block;
  clear: both;
}

section a {
  color: #09c;
}

section h2 {
  color: #333;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  margin-top: 0;
}

section h2 span {
  color: #ccc;
}

section ul {
  list-style: none outside none;
  margin: 0 auto;
  text-align: center;
  margin: 0;
  padding: 0;
}

section ul li {
  display: inline-block;
  margin: 0 1em;
  text-align: center;
}

img.speaker {
  border-radius: 100px;
  width: 148px;
}

section ul li h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

section ul li h3 a {
  text-decoration: none;
  color: #111;
}

section ul li p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  margin: 0;
}

section div.clear {
  clear: both;
}

section p.cfp {
  margin-top: 40px;
}

footer {
  margin-top: 60px;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  display: inline-block;
  width: 100%;
}

footer p {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  padding: 0 15px;
  margin: 5px 0;
}

footer a {
  text-decoration: none;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
  text-decoration: none;
  text-shadow: 1px 1px #333;
  border: 1px solid #ddd;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn i {
  font-weight: normal;
  text-shadow: none;
}

.btn-yellow {
  background-color: #fc0;
}

.btn-large {
  padding: 18px 22px;
  font-size: 20px;
}

.btn-red {
  background-color: #d33;
}

.pull-right {
  float:right;
}

.past-editions {
  float: left;
}

.past-editions a {
  font-size: 12px;
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px dotted #ddd;
}

section#speakers {
  background-color:#f3f3f3;
}

section#speakers li{
  margin-bottom: 30px;
}

section#venue {
  background-color: #777;
  color: #fff;
}

section#venue h2 {
  color: #fff;
}

section#venue a {
  color: #cef;
}

i, i a {
  color: #fff;
}

span.price {
  font-weight: 200;
}

span.price-regular {
  text-decoration: line-through;
}

span.price-earlybird {
  font-weight: 800;
  color: #d33;
}

p.ticket-includes {
  font-size: 14px;
  width: 600px;
  margin: 0 auto;
  color:
  #999;
}

section#sponsors ul {
  margin-bottom: 30px;
}

section#program{
  margin-top: 130px;
}

div.session {
  margin-bottom: 50px;
  text-align: left;
  clear: both;
  float: left;
}

.session > .pic{
  width: 20%;
  display: inline;
  clear: left;
  float: left;
}

.session > .txt{
  width: 80%;
  clear: right;
  float: right;
  display: inline;
}

.session > .txt > h3 {
	margin: 0;
	font-size: 1.5em;
}

.session > .txt > h4 {
	margin: 0;
	font-size: 1.0em;
}

.session > .txt > p{ margin: 0 0 10px 0; }

.session > .txt > h3 a {text-decoration: none;}
.session > .txt > h3 i {color: #333;}
