html {
  height: 100%;
}

body {  
  color: #333;
  background-color: #fff;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
}

nav{
  background-color: #333;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #999;
  margin: 0;
  padding: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  -webkit-padding-start: 0px;
}

nav li {
  display: inline;
  float: left;
  padding: 8px 12px;
}

nav li.pull-right {
  padding-right: 10px;
}

nav a{
  color: #fff;
  text-decoration: none;
  /*font-weight: bold;*/
  font-size: 16px;
}

nav a:hover{
  color: #fc0
}

header {
  height: 134px;
  width: 100%;
  background-color: #fc0;
}

header img {
  margin-top: 28px;
}

header p {
  margin-top: -190px;
  font-size: 16px;
  margin-left: -190px;
  color: #000;
}

header, section {
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

header h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 50px;
  margin: 60px 0 0 0;
}

section {
  width: 960px;
  text-align: center;
  margin-top: 100px;
}

section a {
  color: #09c;
}

section h2 {
  margin-top: 100px;
  margin-bottom: 0;
  color: #333;
}

section h2 span {
  color: #ccc;
}

section ul {
  list-style: none outside none;
  margin: auto;
  text-align: center;
}

section ul li {
  display: inline-block;
  width: 148px;
  margin: 3em 1.3em 0 0.5em;
  text-align: center;
}

section ul li img.speaker {
  border-radius: 100px;
  width: 148px;
}

section ul li h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

section ul li h3 a {
  text-decoration: none;
  color: #111;
}

section ul li p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  margin: 0;
}

section div.clear {
  clear: both;
}

section p.cfp {
  margin-top: 40px;
}

section iframe {
  width: 599px;
  height: 466px;
  border-width: 0;
  margin: auto;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
  background-color: #ddd;
  display: inline-block;
  width: 100%;
}

footer p {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  padding: 0 15px;
  margin: 5px 0;
}

footer p a {
  text-decoration: none;
  color: #111;
  border-bottom: 1px solid #999;
  font-weight: 400;
}

.btn{
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #ddd;
  border: 1px solid #ddd;
}

.btn-yellow{
  background-color: #fc0;
}

.btn-red{
  background-color: #d33;
}

.pull-right{
  float:right;
}

.icon{
  height: 26px;
  width: 26px;
  display: inline-block;
  margin: 0 2px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #aaa
}

.icon-twitter{
  background: transparent url("../img/social_icons.gif") 0px 0 no-repeat
}

.icon-facebook{
  background: transparent url("../img/social_icons.gif") -26px 0 no-repeat
}

.icon-lanyrd{
  background: transparent url("../img/social_icons.gif") -52px 0 no-repeat
}

.icon-vimeo{
  background: transparent url("../img/social_icons.gif") -78px 0 no-repeat
}

.old-editions{
  float: left;
}

.old-editions a{
  font-size: 12px;
  color: #333;
}
